<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="forevernote_style.css"/> 
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <!-- <script type="text/javascript">
          $(document).ready(function(){
            $('.friend_button').click(function() {
                $('#note_shell').attr('src', "notebook_1.html");
            });
          });
          <button type="button" id="friends_nav">
        </button>
        </script> -->
    </head>
    <body>
       <button type="button" id="friends_nav">
       SDASDASDASD
        </button>
    </body>
</html>